{% extends "basefront.html.twig" %}

{% block body %}
<h1> Page des voyages </h1>
    <table class="table table-striped">>
      <thead>
        <tr>
          <th scope="col">Ville</th>
          <th scope="col">Pays</th>
          <th scope="col">Note</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
          {% for visite in visites %}
            <tr>
                <th scope="row">
                    <h5 class="text-primary">
                        <a href='#'>{{ visite.ville }}</a>
                    </h5>
                </th>
              <td>{{ visite.pays }}</td>
              <td>
                  <strong>
                      {% if visite.note<10 %}
                          <div class="text-danger">
                              {{ visite.note }}/20 
                          </div>
                      {% else %}
                          <div class="text-success">
                              {{ visite.note }}/20
                          </div>
                      {% endif %}
                  </strong></td>
              <td>{{ visite.getDatecreationString }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
